/**
* ! Pretendard Font Family!
*/
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}

/**
* ! Anton Font Family!
*/
@font-face {
	font-family: 'Anton';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Anton-Regular.ttf') format('truetype');
}
