/**
* ! Pretendard Font Family!
*/
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}
@import 'https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Anton&family=BIZ+UDPGothic&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap';

